@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme inline {
  --color-main-gray: #f5f5f5;

  --color-azue-radiance-500: #3d77fd;
  --color-azue-radiance-100: #dae7ff;

  --color-caribbean-green-500: #01c89a;
  --color-caribbean-green-50: #eafff7;

  --color-lynch-gray-400: #8695aa;
  --color-lynch-gray-500: #64748b;
  --color-lynch-gray-100: #eceef2;

  --color-purple-heart-50: #eef2ff;
  --color-purple-heart-500: #6164f3;

  --color-input-placeholder: #8695aa;

  /* Default font family */
  --font-sans: "Outfit_400Regular", sans-serif;

  /* Font weight variants */
  --font-outfit-bold: "Outfit_700Bold", sans-serif;
  --font-outfit-medium: "Outfit_500Medium", sans-serif;
  --font-outfit-semi-bold: "Outfit_600SemiBold", sans-serif;
  --font-outfit-regular: "Outfit_400Regular", sans-serif;
  --font-outfit-light: "Outfit_300Light", sans-serif;
}

/* Set default font for all text elements */
* {
  font-family: var(--font-outfit-regular);
}
